.topdiv{
    height:100vh;
    width:100%;
}


.curve1{
    position:absolute;
    top:100%;
}

.curve2{
    position:absolute;
    top:0;
    right:0;
}


.curve3{
    position:absolute;
    top:100px;
    right:0;
    width:25%;
    font-family: Arial, Helvetica, sans-serif;
}


.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 30px;
  }

  /* Optional, different gutter size on mobile */
@media (max-width: 800px) {
    .my-masonry-grid {
      margin-left: -15px; /* gutter size offset */
    }
    .my-masonry-grid_column {
      padding-left: 15px; /* gutter size offset */
    }
    .my-masonry-grid_column > div {
      margin-bottom: 15px; /* space between items */
    }
  }