@font-face {
  font-family: 'pioneerbrush';
  src: url('./fonts/pioneerbrush-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'PublicoHead';
  src: url('./fonts/PublicoHeadline-Black.woff') format('woff');
}

@font-face {
  font-family: 'PublicoHead';
  src: url('./fonts/PublicoHeadline-Roman-Web.woff') format('woff');
}

@font-face {
  font-family: 'PublicoHead';
  src: url('./fonts/PublicoHeadline-Medium.woff') format('woff');
}

@font-face {
  font-family: 'PublicoHead';
  src: url('./fonts/PublicoHeadline-Light-Web.woff') format('woff');
}

:root {
  --primary-color: 'white';
  --secondary-color: 'blue';
  --primary-text-color: 'black';
  --secondary-text-color: 'white';
  --theme-color: '#fe7e6c';
  --btn-color: 'white';
  --btn-text-color: 'black';
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
  color: var(--primary-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transparentBg {
  background-color: rgba(10, 10, 10, 0) !important;
  transition: background-color 1s ease-in-out !important;
}

.nonTransparentBg {
  background-color: rgba(10, 10, 10, 0) !important;
  transition: background-color 2s ease-in-out !important;
}
