@font-face {
  font-family: 'pioneerbrush';
  src: url('./fonts/pioneerbrush-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'PublicoHead';
  src: url('./fonts/PublicoHeadline-Black.woff') format('woff');
}

@font-face {
  font-family: 'PublicoHead';
  src: url('./fonts/PublicoHeadline-Roman-Web.woff') format('woff');
}

@font-face {
  font-family: 'PublicoHead';
  src: url('./fonts/PublicoHeadline-Medium.woff') format('woff');
}

@font-face {
  font-family: 'PublicoHead';
  src: url('./fonts/PublicoHeadline-Light-Web.woff') format('woff');
}


/* Railway fonts */
@font-face {
  font-family: 'RalewayBlack';
  src: url('./fonts/Raleway-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'RalewayBold';
  src: url('./fonts/Raleway-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'RalewayExtraBold';
  src: url('./fonts/Raleway-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'RalewayExtraLight';
  src: url('./fonts/Raleway-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: 'RalewayLight';
  src: url('./fonts/Raleway-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'RalewayMedium';
  src: url('./fonts/Raleway-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'RalewaySemiBold';
  src: url('./fonts/Raleway-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'RalewayThin';
  src: url('./fonts/Raleway-Thin.ttf') format('ttf');
}


/* Roboto fonts */

@font-face {
  font-family: 'RobotoBlack';
  src: url('./fonts/Roboto-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('./fonts/Roboto-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'RobotoItalic';
  src: url('./fonts/Roboto-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('./fonts/Roboto-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('./fonts/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('./fonts/Roboto-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'RobotoThin';
  src: url('./fonts/Roboto-Thin.ttf') format('ttf');
}


/* Meriweather fonts */
@font-face {
  font-family: 'MeriWeatherBold';
  src: url('./fonts/MerriweatherSans-VariableFont_wght.ttf') format('ttf');
}

/* PT sans fonts */
@font-face {
  font-family: 'PTSansRegular';
  src: url('./fonts/PTSans-Regular.ttf') format('ttf');
}

/* Quicksand fonts */
@font-face {
  font-family: 'QuickSandMedium';
  src: url('./fonts/Quicksand-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'QuickSandLight';
  src: url('./fonts/Quicksand-Light.ttf') format('ttf');
}

/* Montserrat fonts */
@font-face {
  font-family: 'MontserratExtraLight';
  src: url('./fonts/Montserrat-ExtraLight.ttf') format('ttf');
}

/* Oswald fonts */
@font-face {
  font-family: 'OswaldRegular';
  src: url('./fonts/Oswald-Medium.ttf') format('ttf');
}

:root {
  --primary-color: 'white';
  --secondary-color: 'blue';
  --primary-text-color: 'black';
  --secondary-text-color: 'white';
  --theme-color: '#fe7e6c';
  --btn-color: 'white';
  --btn-text-color: 'black';
}

html {
  box-sizing: border-box;
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  /* background-color:#303030; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none !important;
  color: var(--primary-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media not screen and (prefers-reduced-motion) {
  body {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px;
  background-color: #EDEEF0;
}

html::-webkit-scrollbar {
  width: 0.6rem;
  width: 0.6rem; /*for horizontal*/
}

html::-webkit-scrollbar-thumb {
  background-color: #504be854;
  border-radius: 0.2rem;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
    inset -2px -2px 2px rgb(0 0 0 / 25%);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #77b6dd59, #f2af9775);
  /*border: 2px solid #7685a429;*/
}
