
.mainContainer{
    /* background-color: #0C4C6E; */
    background-color: #13181e;
    padding: 2.2rem 2.2rem 1rem 2.2rem;
    height:auto;
}

.beyulLogo{
    /* color:#FFFC33; */
    color:#c47d1e;
}

.box{
    margin-bottom: 1rem;
    font-size: 1rem;
}

.links{
    font-size:1rem;
    line-height:2rem;
}

.textHover{
    color:#ffffff;
}

.textHover:hover{
    color:#c47d1e;
    cursor:pointer;
    border-bottom: 1px solid #c47d1e;
    
}

