#col-container {
  margin: 1rem 0;
  display: flex;
  gap: 0rem;
  flex-wrap: wrap;
}

#col-container section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid #00000054;
}

#col-container section:nth-child(odd) {
  flex: 1 1 480px;
}

#col-container section:nth-child(even) {
  flex: 1 1 205px;
}

#col-container section:nth-child(odd) article img {
  max-height: 20rem;
}

#col-container article img {
  width: 100%;
  max-height: 15rem;
  object-fit: cover;
}
